*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  background-color: white;
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}

address {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  all: unset;
}

.main {
  position: relative;
}

ul {
  all: unset;
}