.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
  justify-content: space-evenly;
  font-family: 'Raleway';
  font-size: 18px;
  margin-bottom: 0;
}

/*всё будет хорошо*/

.menu-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  line-height: 1.2;
  align-items: baseline;
}

.menu-item {
  list-style: circle;
  text-decoration: underline; 
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.menu-item-active {
  text-decoration: none;
  list-style: none;
}

.header_logo {
  display: block;
  width: 148px;
}

.address {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}

.header__address {
  justify-self: end;
  align-items: flex-start;
}

.cover {
  display: block;
  background-image: url(../images/cover.jpg);
  min-height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 180px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.lots {
  margin-bottom: 120px;
  margin-right: 24px;
  margin-left: 24px;
}

.lots-list-item-film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.lots-list-item-book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.lots-list-item-picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  margin-right: 24px;
  margin-left: 24px;
}

.footer {
  margin-top: 180px;
}