.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}

.menu-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.menu-list-active {
  text-decoration: none;
}

.header_logo {
  display: block;
  width: 148px;
}